@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    font-family: 'Montserrat';
}
.body{
    margin: 0px;
}
#Home{
    
    background-image: url(images/wallpapertip_pixel-art-wallpaper_9547.png) ;
    background-size: cover;
    padding-bottom: 500px;
    
    margin: 0px;
}

#birda{
    position: relative;
    margin-left: 870px;
    margin-top:100px;
}
#birdb{
    position: relative;
    margin-left:855px;
    margin-top: 25px;
}
#birdc{
    position: relative;

    margin-left:847px;
    margin-top: 20px;

}
#birdd{
    position: relative;
    margin-left:890px;
    margin-top:-30px;

}
.body{

    position: relative;
    width: 4px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin-bottom: -8px;

   
}
.wingsl{
    position: relative;
    width: 4px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin-left: 4px;
    margin-bottom: -4px;
    animation: fly 2s infinite;
    
   
}
@keyframes fly{
    50%{transform:translateY(8px);
    }
}
.wingsr{
    position: relative;
    width: 4px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin-left: -4px;
    animation: fly 2s infinite;
}

#aboutMe ul{
    
    padding-left: 300px;
    
    position: relative;
    margin: 0px;
    padding-top: 30px;
    
    
    list-style: none;
    
}
#aboutMe li{

    display: inline;
    text-decoration: none;
    position: relative;
    padding-bottom: 10px;
    
    /* padding: 10px 15px;
    margin: 0px 20px;
    background-color: tan;
    
    border-radius: 10px;
    margin-bottom:10px; */
    /* border: solid #000
    border-width: 0 1px; */
    /* border-style:solid;
    border: tan;
    border-radius: 20px; */
    
}
#aboutMe li::after{
    content:'';
    position: absolute;
    width: 50%;
    height: 0.175rem;
    left :25%;
    bottom: 0;
    background:#F2B29B ;
    transform: scale(0,1);
    transition: transform 0.3s ease;

}
#aboutMe li:hover::after{
    transform: scale(1,1);
}

#aboutMe li :hover{
    border-radius: 100px;
    border-color: antiquewhite;
    border-width: 50px;
    transition: 500ms;
    color: #F2B29B;
   

}
#aboutMe a{
    /* background-color: sandybrown; */
    text-decoration: none;
    color:#F2B29B;
    font-size: 30px;
    font-family:sans-serif;
    padding: 5px 15px;
    margin: 5px 20px;

    
    
    
    margin-bottom:10px;
    /* padding: 0px 10px; */
    
    
    

}

#aboutMe{
    
    background-color: #000000;
    padding-bottom: 15px;
}

.container{
    min-height: 100vh;
    width: 100%;
    height: fit-content;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(34,26,43);
    background: linear-gradient(157deg, rgba(34,26,43,1) 0%, rgba(88,72,103,1) 47%, rgba(156,89,127,1) 80%);
    color: white;
}
.timeline{
    width:80%;
    height:auto;
    max-width: 800px;
    margin:0 auto;
    position: relative;
}

.timeline ul{
    padding-top: 50px;
    list-style: none;

}
.timeline ul li{
    padding: 20px;
    background-color: #1e1f22;
    color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}
.timeline ul li:last-child{
    margin-bottom: 0;

}
.timeline-content h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 10px;


}
.timeline-content p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}
.timeline-content .date{
    font-size: 15px;
    font-weight:300;
    margin-bottom:10px;
    letter-spacing: 2px;
}
#aboutmeh{
    transform: translateX(270px);
    font-size: 30px;
    
}

@media only screen and (min-width:768px){
    .timeline::before{
        margin-top: 50px;
        content: '';
        position: absolute;
        height: 94%;
        width: 2px;
        left :50%;
        transform: translateX(-50%);
        background-color: gray;
    }
    .timeline ul li{
        width :50%;
        margin-bottom: 50px;
        position:relative;

    }

    .timeline ul li:nth-child(odd){
        float: left;
        clear: right;
        transform: translateX(-60px);
        border-radius: 20px 0px 20px 20px;

    }
    .timeline ul li:nth-child(even){
        float: right;
        clear: left;
        transform: translateX(60px);
        border-radius: 0px 20px 20px 20px;
    }
    .timeline ul li::after{
        content: '';
        position: absolute;
        height: 20px;
        width: 20px;
        background-color: gray;
        top: 0;
        border-radius: 50%;

    }
    .timeline ul li:nth-child(odd)::after{
        transform: translate(50%,-50%);
        right:-20px;
    }
   


    .timeline ul li:nth-child(even)::after{
        transform: translate(-50%,-50%);
        left:-20px;
    }
    .timeline ul li:hover:after{
        background-color: #D9B36C;
        height: 30px;
        width: 30px;
        transition: 0.2s ease;
    }
    .timeline-content .date{
        position:absolute;
        top:-20px;

    }


}

